body {
    background-color: #fadddd70;
}
nav , header{
    font-family: 'Josefin Sans', sans-serif;
    color: darkolivegreen;
}

header{
    font-size: larger;
    font-weight: 300;
    color: royalblue;
}

img {
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border: 1rem solid #F3BC9D;
}